.dashb,
.recc,
.rsbb {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dashb {
  background-color: #f2f2f7;
}

.dbwlcm {
  align-items: center;
}

.dbwlcml h5 {
  font-size: 19px;
  font-weight: 700;
}

.dbwlcmf {
  /* background-color: black; */
  background-image: url('../../assets/dbbg.png');
  color: white;
}

.dbwlcmf p {
  color: #f2f2f7;
}

.dbwlcml h6,
.dbwlcmf h6 {
  font-size: 16px;
  font-weight: 700;
}

.dbwlcml p,
.dbwlcmf p {
  font-size: 13px;
}

.dbwlcmr {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.dbwlcmr span {
  font-size: 12px;
  font-weight: 600;
  color: #202224;
}

.dbwlcmrt button {
  background: #000;
  color: white;
  font-size: 11px;
  width: 165px;
  height: 40px;
  border-radius: 10px;
}
.dbwlcmrt-hr {
  height: 4px;
  width: 200px;
  /* background-color: red; */
  background: #9d9d9d;
  border-radius: 41.4px;
}
.dbwlcmrthrt {
  height: 4px;
  width: 150px;
  background: #ffffff;
  border-radius: 82.8px;
}

.dbgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.dbgriditem {
  width: 100%;

  height: 150px;
  background-color: white;
  border: 1px solid #202224;
  
}
.dbgriditem .img1{
    width: 45px;
}
.dbgriditem .logo{
    width: 25px;
}
.dbgriditem h6, .jobpicks h6{
    font-size: 14px;
    font-weight: 600;
    margin-top: 9px;
}
.dbgriditem p, .jobpicks p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #515B6F;;
}
.dbgriditem span, .rdesmatch{
    color: #59CA66;
    font-weight: 600;
}
.dbgriditem small, .rdes small, .jobpicks small{
    text-wrap: wrap;
    font-size: 11px;
    font-weight: 600;
    margin-right: 9px;
    background-color: #D4D4D4;
    padding: 3px;
}

.dbgriditemdj {
  width: 90% !important;
  height: 160px;
  background-color: transparent;
  border: 1px solid #fff;
}

.dbgriditemdj .circ {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 14px;
}
.dbgriditemdj h6 {
  font-size: 14px;
}

.arrow {
  border: 1px solid white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
}

.slid {
  position: relative;
}

.r.arrow {
  position: absolute;
  right: 5%;
  bottom: 49%;
  z-index: 1;
}
.l.arrow {
  position: absolute;
  left: 4%;
  top: 45%;
  z-index: 1;
}
.rcslide {
  min-height: 100vh;
  /* width: 95%; */
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
}
.slick-dots li button::before {
  margin: 10px 0px 0px 0px;
  position: absolute;
  font-size: 40px !important;
  color: #000 !important;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .dbwlcm {
    align-items: start;
    flex-direction: column;
  }
  .dbgrid {
    grid-template-columns: 1fr 1fr;
  }
  .dbgriditem {
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .dbgriditemdj {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .dbgrid {
    grid-template-columns: 1fr;
  }
}
/* @media (min-width: 767px) and (max-width: 868px) {
    .dbgriditem small{
        font-size: 10px;
        margin-right: 2px;
    }
  } */