.signout img, .loginform img{
    width: 25px;
}
.signout .img span{
    font-size: 16px;
    font-weight: 600;
}
.signout .out{
    color: #DF0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.signout .out h6{
    font-size: 11px;
}
.signout .out span{
    margin-top: -9px;
    font-size: 16px;
    font-weight: 800;
}

/* navbar  */
.nav-item{
    font-size: 14px;
    position: relative;

}
.nav-link {
    color: #D0D1D2 !important;
}
.navbar .nav-item.activee .nav-link {
    font-weight: 700;
    color: #000 !important;
}

.activee::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background: #000;
    bottom: -38%;
    left: 20%;
}



.nav-profile img{
    width: 40px;
}
.nav-profile h6{
    font-size: 14px;
    font-weight: 700;
}
.navbar button{
    background-color: transparent;
    border: none !important;
    color: black;
    outline: none !important;
    box-shadow:none !important;
}




.recc{
    background: url('../assets/Light.png') no-repeat center;
    min-height: 100vh; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    flex: 1; 
}


@media screen and (max-width:767px) {
    .activee::after, .nav-profile img{
        display: none;
    }
}